{% extends "base.html" %}

{% block title %} About {% endblock title %}

{% block body %}


<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?about" class="d-block w-100 mx-0" alt="...">
</div>
<section id="about">
    <div class="about-1 text-center">
        <h1>ABOUT US</h1>
        <hr>
        <P>
            To forward-looking businesses, Environment Health, Safety, and Sustainability are more than mere buzzwords.
            They are ways to ensure both short-term compliance and long-term business continuity.
        </P>
        <p>
            But trying to achieve that with Excel or Access is very time-consuming, cumbersome, and prone to errors. On
            the other hand, legacy software systems, although designed to automate and optimise your EHS&S processes,
            have lengthy implementation cycles and rarely deliver the kind of value that justifies their price tags and
            other hidden costs.
        </p>
        <p>
            mySetu's market-leading cloud-based EHS&S and Risk Management Software are built on these experiences and
            offer modern-day managers, without investing unreasonable amount of time and money, all the power and
            flexibility they need to swiftly implement industry-standard best practices and manage their compliance
            needs from the convenience of their computers, tablets, and mobile phones.
        </p>
        <p>
            Our solutions have been deployed in more than 800+ locations and they empower more than 200,000+ users
            everyday better measure, report, and manage their mission-critical EHS&S data which in terms helps to
            minimize risks, increase work safety, prevent incidents from happening, and achieve regulatory compliance.

        </P>
    </div>

    <div class="about-2">
        <div class="content-box-lg">
            <div id="aboutbox" class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-book"></i>
                            <h3>MISSION</h3>
                            <hr>
                            <p>The mission of mySetu is to lead India's rapidly growing EHS&S technology sector by
                                providing market-leading cloud-based EHS&S and Risk Management Software. They aim to
                                empower businesses with the tools and flexibility needed to implement industry-standard
                                best practices swiftly, manage compliance needs efficiently, and ensure both short-term
                                compliance and long-term business continuity It plays very important role.Their mission emphasizes delivering
                                maximum value to clients without investing unreasonable amounts of time and money,
                                thereby helping companies better measure, report, and manage their mission-critical
                                EHS&S data.
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-globe"></i>
                            <h3>VISSION</h3>
                            <hr>
                            <p>The provided text doesn't explicitly mention a "Vision" statement for mySetu. However,
                                based on the content provided, we can infer that the company's vision likely involves
                                becoming the leading provider of Enterprise Management Software for Environment Health,
                                Safety, and Sustainability (EHS&S). This would involve expanding their reach globally,
                                continuously innovating their products and services to meet evolving business needs,
                                maintaining financial stability and growth, and ensuring their solutions remain relevant
                                and valuable to their clients across various industries.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>ACHIEVEMENTS</h3>
                            <hr>
                            <p>mySetu has emerged as a leader in cloud-based EHS&S and Risk Management Software, serving
                                over 800 locations and 200,000+ users. With continuous innovation, they offer solutions
                                for various sectors like construction, oil and gas, automotive, and pharmaceuticals.
                                Launching mobile versions for iOS and Android, mySetu ensures accessibility and
                                convenience. Strategic partnerships bolster their offerings, maintaining financial
                                stability and steady growth. Renowned for quality and reliability, mySetu is committed
                                to enhancing EHS&S data management, fostering improved risk mitigation, work safety, and
                                regulatory compliance across industries.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}