{% extends "base.html" %}

{% block title %} Agreement {% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?agreement" class="d-block w-100 mx-0" alt="...">
</div>
<div class="containers text-center">
    <h1>Agreement</h1>
    <p>
        An EHS&S agreement should encompass compliance requirements, risk management, performance metrics, reporting,
        training, and emergency preparedness. It must ensure adherence to relevant regulations, outline processes for
        identifying and mitigating risks, and establish key performance indicators to monitor EHS&S activities. Regular
        reporting and documentation should be mandated, with clear responsibilities assigned for each task. Training
        programs should be defined to ensure all stakeholders have the necessary knowledge and skills. Additionally,
        robust emergency response plans should be developed, detailing procedures and responsibilities. Including these
        elements will create a comprehensive framework for managing EHS&S responsibilities effectively.
    </p>
    <div class="rows">
        <div class="servicess">
            <i class="fa-solid fa-laptop-code"></i>
            <h3>Compliance Requirements</h3>
            <p> Clearly outline the legal and regulatory obligations that the parties must adhere to regarding
                environmental protection, occupational health and safety, and sustainability practices.</p>
        </div>
        <div class="servicess">
            <i class="fa-solid fa-bars-progress"></i>
            <h3>Risk Management</h3>
            <p>Define strategies for identifying, assessing, and mitigating risks associated with the environment,
                health, safety, and sustainability aspects of the project or business operations.</p>
        </div>
        <div class="servicess">
            <i class="fa-solid fa-chart-column"></i>
            <h3>Performance Metrics</h3>
            <p>Establish measurable goals and performance indicators to monitor and evaluate the effectiveness of EHS&S
                initiatives, ensuring continuous improvement and accountability.</p>
        </div>
        <div class="servicess">
            <i class="fa-solid fa-plane-departure"></i>
            <h3>Reporting and Documentation</h3>
            <p>Specify the frequency, format, and content of reports to be submitted by the parties regarding EHS&S
                performance, incidents, audits, and compliance activities.</p>
        </div>
        <div class="servicess">
            <i class="fa-solid fa-award"></i>
            <h3>Training and Awareness</h3>
            <p>Detail requirements for employee training, awareness programs, and communication channels to ensure that
                all stakeholders understand their roles and responsibilities in maintaining a safe and sustainable work
                environment.</p>
        </div>
        <div class="servicess">
            <i class="fa-solid fa-person-drowning"></i>
            <h3>Emergency Response and Contingency Planning</h3>
            <p>Develop procedures and protocols for responding to emergencies, accidents, and environmental incidents,
                including communication strategies, evacuation plans, and resource allocation to minimize negative
                impacts and ensure a timely and effective response.</p>
        </div>

    </div>
</div>




{% endblock body %}