{% extends "base.html" %}

{% block title %} career {% endblock title %}

{% block body %}


<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?career,safety" class="d-block w-100 mx-0" alt="...">
</div>
<section id="about">
    <div class="about-1 text-center">
        <h1>Career with mySetu</h1>
        <hr>


        <div class="rowss">
            <div class="servicesss">
                <p>At mySetu, we are working together to help our customers keep their people safe, their products
                    sustainable and their operations productive. For more than two decades, mySetu's solutions have
                    helped to make the world a cleaner and safer place.
                    As mySetu continues to grow and expand, we are looking for leaders who can help shape the future of
                    the company. You have an opportunity to join an energetic, growing software company where your input
                    makes a difference.
                    You'll enjoy stimulating work in a friendly environment that fosters creativity and collaboration.
                </p>
                <h3>Culture of mySetu</h3>
                <p>
                    At our company, our values drive everything we do:
                    We believe in accountability, where we take ownership of our actions. Customer delight is
                    our goal, always aiming to surpass expectations. Innovation is key; we encourage creativity
                    and seek novel solutions. We are dedicated to continuous learning, never ceasing to improve.
                    Sustainability is a priority; we actively promote environmental responsibility. Finally,
                    teamwork and trust are fundamental; we foster collaboration and uphold integrity in all our
                    endeavors.
                </p>


                <h3>Benefits and perks at mySetu</h3>
                <p>
                    At mySetu, we prioritize our employees' well-being because we understand that happy
                    employees lead to satisfied customers. We offer competitive pay, comprehensive
                    benefits, and special perks to support their personal, professional, and financial
                    needs. Our benefits, like company retreats and events, an Employee Assistance
                    Program, and wellness initiatives, contribute to a fulfilling work experience.
                    Additionally, we provide life insurance and disability coverage, performance-based
                    compensation, and time off for community service, ensuring our employees feel valued
                    and supported in every aspect of their lives.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock body %}