{% extends "base.html" %}

{% block title %} Incident {% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?company accidents " class="d-block w-100 mx-0" alt="...">
</div>
<section id="about">
    <div class="about-1 text-center">
        <h1>Incident Management</h1>
        <hr>
        <P>
            Without proper monitoring and analysis of minor incidents and near misses, your organization risks various
            negative consequences such as harm to people, morale, and business operations, along with legal penalties
            and damage to reputation. Major disasters like the Bhopal Gas Tragedy and Deepwater Horizon underscore the
            importance of proactive incident prevention. EHS&S professionals must go beyond simply reporting injuries to
            anticipate, prevent, and mitigate risks by analyzing incidents, identifying root causes, and complying with
            regulations. Challenges are heightened by factors like multiple locations, diverse workforces, and tight
            budgets.
        </P>
        <p>
            mySetu Incident Management offers a user-friendly solution to address these challenges. It's designed to be
            quickly set up and easy to use, with a track record of successful implementations across various industries.
            Whether you're new to EHS&S or need to enhance your existing processes, mySetu Incident Management guides
            you in minimizing hazards and their impacts effectively.
        </P>

    </div>
</section>


{% endblock body %}