{% extends "base.html" %}

{% block title %} Micro {% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?Micro,Learning" class="d-block w-100 mx-0" alt="...">
</div>
<section id="about">
    <div class="about-1 text-center">
        <h1>Micro Learning</h1>
        <hr>
        <P>
            Microlearning is like safety training in bite-sized pieces. Instead of long sessions, you get short, focused
            lessons. It's easier to remember and apply what you learn because it's broken down into small chunks. You
            can learn at your own pace and fit it into your schedule. Microlearning helps reinforce important safety
            rules and tips, making it easier to stay safe at work. It's a quick and flexible way to learn, so you can
            quickly pick up new safety skills and stay up-to-date with the latest safety practices.
        </P>

    </div>
</section>


{% endblock body %}