{% extends "base.html" %}

{% block title %} Performance {% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?Accident happened in environment related" class="d-block w-100 mx-0" alt="...">
</div>
<section id="about">
    <div class="about-1 text-center">
        <h1>Performance Management</h1>
        <hr>
        <P>
            Traditional business performance is often measured by profits and success metrics. However, in the realm of
            Environment, Health, Safety, and Sustainability (EHS&S), success is typically defined by the absence of
            negative events like injuries or illnesses. This narrow focus overlooks proactive measures and ongoing risk
            management.
        </P>
        <p>
            With mySetu Performance Management, you get a comprehensive system to shift the focus towards positive
            outcomes. It enables you to set and monitor proactive targets such as audits, training, and project
            milestones. The goal is to ensure a holistic approach to performance, whether it's at the organizational,
            departmental, or individual level. This system empowers you to proactively manage risks and drive continuous
            improvement in EHS&S practices.
        </P>

    </div>
</section>


{% endblock body %}